<div class="login-container">
  <div class="logo-container">
    <img class="logo" src="assets/logo.png" alt="" />
  </div>
  <div class="col">
    <div class="text-bold">To continue. log in Spotify</div>
    <button class="btn btn-facebook">
      <img class="logo-mini" src="assets/logo-facebook.png" alt="" /> LOG IN
      WITH FACEBOOK
    </button>
    <button class="btn btn-apple">
      <img class="logo-mini" src="assets/logo-apple.png" alt="" /> LOG IN WITH
      APPLE
    </button>
    <button class="btn btn-google">
      <img class="logo-mini" src="assets/logo-google.png" alt="" /> LOG IN WITH
      GOOGLE
    </button>

    <div class="divider">
      <strong class="divider-title">o</strong>
    </div>

    <form class="form">
      <div class="form-col">
        <label class="label">Email address or username</label>
        <input
          type="text"
          class="input"
          placeholder="Email address or username"
        />
      </div>

      <div class="form-col">
        <label class="label">Password</label>
        <input
          type="text"
          class="input"
          placeholder="Password"
        />
      </div>

      <a href="#" class="a">Have you forgotten your password?</a>

      <div class="row">
        <input 
        class="checkbox"
        type="checkbox"> Remember me
      </div>

      <button class="btn btn-log-in">
        LOG IN
      </button>
      
    </form>

    <div class="divider"></div>

    <div class="text-bold">Don't you have account?</div>
  </div>
</div>
